<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swara_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2461240553036830~8476286740" />

        <activity
            android:name="com.example.swara_app.CategoryWise"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.swara_app.ContactUs"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.swara_app.ArtistProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.swara_app.MusicPlay"
            android:label="@string/title_activity_music_play"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.example.swara_app.UserAuthentication.login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.swara_app.HomePage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.example.swara_app.UserAuthentication.Register"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.swara_app.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>